.headerbar { 
    max-width: 960; 
    margin: 0 auto; 
    padding: 0 16px;
 }
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
    border-bottom: 1px solid #2a363b;
    text-decoration: none;
  }

.link {
    display: inline-block;
    text-decoration: none;
    padding: 16px;
    padding-left: 0;
    font-weight: 700;
    color: #2a363b;
    text-transform: uppercase;
    transition-property: color, background-color, transform;
    transition-duration: 0.2s;
    transition-timing-function: cubic-bezier(0, 0.110, 0.35, 2);
    transform: scale(0.9);
}
.link:hover,
.link:focus {
    color: #a71313;
}

.link.active {
    color: #a71313;
    border-bottom: 1px solid #a71313;
    transform: scale(1);
    pointer-events: none;
  }
   
  .wrapper {
    display: flex;
    align-items: center;
    justify-content: baseline;
    gap: 18px;
  }
  
  .wrapperUserMenu {
    display: flex;
    justify-content: space-between;
    align-items: right;
    padding: 0;
    gap: 12px;
    margin-bottom: 16px;
    border-bottom: 1px solid #2a363b;
  }
  .username {

    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-weight: 700;
  }
  
.phonebookTitle {
    font-family: 'Times New Roman', Times, serif;
    font-size: 28px;
    font-weight: 900;
    font-size: 30px;
    line-height: 1.13;
    text-align: left;
    text-transform: uppercase;  
    color: darkblue;
  }
  
  .phonebookContactsList {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.13;
    text-align: left;
    text-transform: uppercase;  
    
    margin-top: 40px;
  }
  
  .phonebookListTitle {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 900;
    font-size: 24px;
    line-height: 1.13;
    text-align: left;
    text-transform: uppercase;  
  }
  
.phonebookForm {
    width: 600px;

    margin-bottom: 20px;

    padding: 10px 10px;

    color: black;
    outline: 2px solid rgb(0, 0, 0);
    font-family: 'Times New Roman', Times, serif;
    }

    .formTitle {
        font-family: 'Times New Roman', Times, serif;
        font-weight: 700;
        font-size: 24px;
        line-height: 1.13;
        text-align: left;
        text-transform: uppercase;  
    }
    .inputForm {
        width: 358px;
        height: 50px;

        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 1.25;

        display: flex;
        align-items: center;
 
        background-color: rgba(0,0,0,0);
        border: 1px solid rgba(255,255,255,.3);
        box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);
        border-radius: 4px;

        padding-left: 16px;
    }


    .btnSubmit {
    display: flex;

   margin-top: 40px;
   margin-bottom: 20px;

    color:  #FFF;
    background-color: #2196F3;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-style: none;
    border-radius: 4px;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1)
}
.btnSubmit:hover, .btnSubmit:focus {
    background-color:  #1576c5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.btnLogout {
    display: flex;

   /* margin-left: auto; */
   /* margin-bottom: 16px; */

    color:  #FFF;
    background-color: #2196F3;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-style: none;
    border-radius: 4px;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1)
}
.btnLogout:hover, .btnLogout:focus {
    background-color:  #188CE8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


.filterTitle {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.13;
    text-align: left;
    text-transform: none;

}

.inputFilterForm {
    width: 358px;
    height: 50px;

    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.25;

    display: flex;
    align-items: center;

    background-color: rgba(0,0,0,0);
    border: 1px solid rgba(255,255,255,.3);
    box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);
    border-radius: 4px;

    padding-left: 16px;
    margin-bottom: 40px;
}

.phonebookList {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.13;
    text-align: left;

    text-transform: none; 

    margin-bottom: 16px;
}

.btnDelete {
    padding: 6px 22px;
    margin-left: 20px;

    color:  #212121;
    background-color: #bbbbbe;

    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    border: 1px solid transparent;
    border-style: none;
    border-radius: 4px;

    cursor: pointer;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btnDelete:focus, .btnDelete:hover, .btnDelete:active {
    color:  #FFF;
    background-color: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.btnDelete:active {
    box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.phonebookInfoMessage {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.13;
    text-align: left;
    text-transform: uppercase; 
    color: #a71313;
    
    margin-top: 80px;
  }

  .form {
    width: 320px;
  }
  
  .label {
    display: flex;
    flex-direction: column;
    margin: 18px 0;

   
  }
  
