.phonebookTitle {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 900;
    font-size: 30px;
    line-height: 1.13;
    text-align: left;
    text-transform: uppercase;  
}

.phonebookContactsList {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.13;
    text-align: left;
    text-transform: uppercase;  
    
    margin-top: 40px;
}

.phonebookListTitle {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 900;
    font-size: 24px;
    line-height: 1.13;
    text-align: left;
    text-transform: uppercase;  
}

.filterTitle {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.13;
    text-align: left;
    text-transform: none;

}

.inputFilterForm {
    width: 358px;
    height: 50px;

    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.25;

    display: flex;
    align-items: center;

    background-color: rgba(0,0,0,0);
    border: 1px solid rgba(255,255,255,.3);
    box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);
    border-radius: 4px;

    padding-left: 16px;
    margin-bottom: 40px;
}
.phonebookList {
   
    font-weight: 500;
    font-size: 24px;
    line-height: 1.13;
    text-align: left;

    text-transform: none; 

    margin-bottom: 16px;
}
.btnDelete {

    padding: 6px 22px;
    margin-left: 20px;

    color:  #212121;
    background-color: #bbbbbe;

    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    border: 1px solid transparent;
    border-style: none;
    border-radius: 4px;

    cursor: pointer;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btnDelete:focus, .btnDelete:hover, .btnDelete:active {
    color:  #FFF;
    background-color: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


